
.header-bar {
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 8em;
    background: #151515ff;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000;
    margin-bottom: 0;
}

.header-list {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.header-list li a {
    text-decoration: none;
    color: inherit;
}

.test1 {
    margin-right: 2em;
    position: relative;
}

.test2 {
    margin: 0 2em 0 2em;
    position: relative;
}

.test3 {
    margin-left: 2em;
    position: relative;
}
.test1::after, .test2::after, .test3::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 120%;
    border-radius: 20px;
    background: linear-gradient(to right, orange, red);
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 100ms;
    transform: translate(-5px, 0);
}

.test1:hover::after, .test2:hover::after, .test3:hover::after {
    height: 100%;
}